

h1{ 
    color:aqua;
    text-align: center;
    font-size: 30px;
}
h2{ 
    color:darkgoldenrod; 
}
h4{ 
    color:chartreuse; 
}
a{
    text-decoration-line: none;
} 
p{
    color: brown;
} 
#TP{
    color: aqua;
    text-align: center;
    font-size: 30px;
}
#Footer{
    color: blueviolet;
   
} 
.c1{

}
.c2{ 
    background-color: blueviolet;
}
.c3{

}